* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
	width: 960px;
	margin: 50px auto;
	
}

.box {
	width: 300px;
	margin: 0;
	float: left;
	border: solid 1px #eee;
	padding: 10px;
	position: relative;
}

.box:nth-child(2){
	margin: 0 30px;
}

.img1{
  height: 150px;
  background-image: url(img/flow01.png);
  background-size: cover;
  background-position: bottom;
}

.img2{
  height: 150px;
  background-image: url(img/flow02.png);
  background-size: cover;
  background-position: bottom;
}

.img3{
  height: 150px;
  background-image: url(img/flow03.png);
  background-size: cover;
  background-position: bottom;
}

h3 {
	margin: 15px 0 5px;
}

.logo {
	position: absolute;
	top: 0;
	left: 0;
	background-color: #FF9A4B;
	color: #fff;
	padding: 3px;
}

@media screen and (max-width:768px) {
	main {
		width: 90%;
	}
	.box {
		width: 100%;
		float: none;
	}
	.box:nth-child(1) {
		margin: 50px 0 20px;
	}
	.box:nth-child(2) {
		margin: 0;
	}
	.box:nth-child(3) {
		margin: 20px 0 50px;
	}
	.img1{
	  background-position: center;
	}

	.img2{
	  background-position: center;
	}

	.img3{
	  background-position: center;
	}
	}
}